.gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: 3rem auto;
}
.image-box {
  background-color: #444;
  margin: 1rem;
}
.image {
  width: 15rem;
  height: 10rem;
  padding: 2rem 2rem 0 2rem;
}
.text,
.date {
  text-align: center;
  color: #a3a6aa;
  font-size: 1.2rem;
}
.date {
  font-size: 1rem;
}
