.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 3rem auto;
}
.image-box {
  background-color: #444;
  margin: 1rem;
}
.image {
  width: 15rem;
  height: 10rem;
  padding: 2rem 2rem 0 2rem;
}
.text,
.date {
  text-align: center;
  color: #a3a6aa;
  font-size: 1.2rem;
}
.date {
  font-size: 1rem;
}
.delete {
  display: flex;
  flex-direction: row-reverse;
}
.trash-can {
  color: #fff;
  padding: 0 1rem 1rem 0;
}

/* --------- FORM ---------- */
.form {
  background-color: #90c0db;
  padding: 0.3rem 0.5rem;
  width: 90%;
  margin: 2rem auto;
  border-radius: 0.5rem;
}
.image-form {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.add-title {
  margin: 2rem;
}
.form-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #11405b;
  text-align: left;
  line-height: 1.4rem;
  font-size: 1.2rem;
  margin: 1rem;
  padding-left: 1rem;
}
.form-input::placeholder {
  color: #11405b;
  font-family: 'Itim', cursive;
}
.form-input:focus {
  outline: 0;
}
.btn-submit {
  font-family: 'Itim', cursive;
  background-color: #11405b;
  color: #accfe4;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 0.3rem;
}
