<div>
  <h1>IMAGE A DAY</h1>
  <section class="gallery">
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
    </div>
  </section>
</div>
