<div>
  <section class="gallery">

    <div class="image-box" v-for="image in images">
      <img class="image" :src=" require('./../assets' + image.source)" />
      <p class="text">{{ image.text }}</p>
      <p class="date">{{ image.date }}</p>
    </div>

    <!-- <div class="image-box">
      <img class="image" src="./../assets/march/bike.png">
      <p class="text">Lime Bike in the Yard</p>
      <p class="date">March 15, 2018</p>
    </div> -->
    <!-- <div class="image-box">
      <img class="image" src="./../assets/march/tweet.png">
      <p class="text">100 Days Of Code</p>
      <p class="date">March 16, 2018</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
      <p class="date">March 17, 2018</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
      <p class="date">March 18, 2018</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
      <p class="date">March 19, 2018</p>
    </div>
    <div class="image-box">
      <img class="image" src="./../assets/ball.jpg">
      <p class="text">Something About the Image</p>
      <p class="date">March 20, 2018</p>
    </div> -->
  </section>
</div>
